@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33, 12, 81;
    --foreground: 0 0 8;
    --card: 21 21 21;
    --card-foreground: 213 208 202;
    --popover: 21 21 21;
    --popover-foreground: 213 208 202;
    --primary: 211 45 8;
    --primary-foreground: 0 0 0; /* Black for light mode */
    --secondary: 90 94 87;
    --secondary-foreground: 255 255 255;
    --muted: 68 60 70;
    --muted-foreground: 213 208 202;
    --accent: 144 57 0;
    --accent-foreground: 255 255 255;
    --destructive: 211 45 8;
    --destructive-foreground: 255 255 255;
    --border: 68 60 70;
    --input: 68 60 70;
    --ring: 211 45 8;
    --radius: 0.5rem;
  }

  .dark {
    --background: 9 8 5;
    --foreground: 213 208 202;
    --card: 21 21 21;
    --card-foreground: 213 208 202;
    --popover: 21 21 21;
    --popover-foreground: 213 208 202;
    --primary: 211 45 8;
    --primary-foreground: 255 255 255; /* White for dark mode */
    --secondary: 90 94 87;
    --secondary-foreground: 255 255 255;
    --muted: 68 60 70;
    --muted-foreground: 213 208 202;
    --accent: 144 57 0;
    --accent-foreground: 255 255 255;
    --destructive: 211 45 8;
    --destructive-foreground: 255 255 255;
    --border: 68 60 70;
    --input: 68 60 70;
    --ring: 211 45 8;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grid-b {
  background-color: #2e1c1c0f;
  width: 97.5%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0;
}

.dot-grid {
  z-index: 3;
  opacity: 0.05;
  background-image: url('/assets/images/dot-grid.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  inset: 0;
}

.dot-grid.white {
  z-index: -1;
  opacity: 0.4;
  background-image: url('/assets/images/dot-grid-2.png');
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: contain;
}
